/*=== Reset ===*/

html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%
}

body {
  display: flex;
}

.hidden {
  display: none;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-spacer {
  padding-top: 40px;
  padding-bottom: 20px;
}

.body-spacer {
  padding-top: 20px;
}

.save-button {
  width: 95%;
  color: #1F1F3D;
  background-color: #353567;
}

/* input {
  width: 95%;
} */


/*=== Background Colors ===*/

.purple-1 {
  background: #EAEAF4;
}

.purple-2 {
  background: #A9AAD2;
}

.purple-3 {
  background: #5356A4;
}

.purple-4 {
  background: #1F1F3D;;
}


/*=== Fonts ===*/

.header-text {
  color: #EAEAF4;
  font-family: 'Open Sans';
  font-weight: bold;
  padding: 41px;
}

.body-text {
  font: 'Open Sans' light;
}


/*=== menu section ===*/

.menu {
  height: 100%;
  width: 380px;
}

/*=== main section ===*/

.ideas {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.idea-form {
  flex-grow: 2;
}

.idea-cards {
  flex-grow: 3;
}

/*=== media queries ===*/

@media only screen and (max-width: 400px) {
  body {
    flex-direction: column;
  }

  .header-text {
    font-size: 18px;
    padding: 10x;
  }

  .menu {
    height: 40px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .form-spacer {
      /* width: 50px; */
  }
  .title-spacer {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  /* form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

  .icon {
    padding-right: 65px;
  }

  .idea-form {
    flex-grow: 1;
  }

  .one-idea-card {
    border-style: solid;
    border-width: thin;
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  .idea-card-header {
    background: #1F1F3D;
    display: flex;
    justify-content: space-between;
  }

  .idea-card-body {
    height: 150px;
  }

  .idea-title {
    color: #1F1F3D;
    padding-left: 10px;
    padding-top: 13px;
    font-family: 'Open Sans', bold;
    font-weight: bold;
    font-size: 125%;
  }

  .idea-text {
    color: #1F1F3D;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Open Sans';
    font-weight: lighter;
    font-size: 120%;
  }

  .idea-card-footer {
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #5356A4;
    display: flex;
    align-items: center;
  }

  .idea-comments {
    color: #E9E9F3;
    font-family: 'Open Sans';
    font-weight: bold;
  }

}
