/*=== Reset ===*/

html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%
}

body {
  display: flex;
}

.hidden {
  display: none;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-spacer {
  width: 95%;
  padding-top: 40px;
  padding-bottom: 20px;
}

.body-spacer {
  width: 95%;
  padding-top: 20px;
}

.save-button {
  width: 95%;
  height: 50px;
  color: #E9E9F3;
  background-color: #353667;
  font-family: 'Open sans';
  font-weight: bold;
  font-size: 20px;
  border-color: #5456A4;
  border-radius: 3px;
}

/* input {
  width: 95%;
} */


/*=== Background Colors ===*/

.purple-1 {
  background: #EAEAF4;
}

.purple-2 {
  background: #A9AAD2;
}

.purple-3 {
  background: #5356A4;
}

.purple-4 {
  background: #1F1F3D;
}


/*=== Fonts ===*/

.header-text {
  color: #EAEAF4;
  font-family: 'Open Sans';
  font-weight: bold;
  padding: 41px;
}

.body-text {
  font: 'Open Sans' light;
}

.title-text {
  font-family: 'Open sans';
  font-weight: bold;
  color: #1F1F3D;
}

.body-text {
  font-family: 'Open sans';
  font-weight: bold;
  color: #1F1F3D;
}


/*=== menu section ===*/

.menu {
  height: 100%;
  width: 380px;
}

/*=== main section ===*/

.ideas {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.idea-form {
  flex-grow: 2;
}

.idea-cards {
  flex-grow: 3;
}


#title-text {
  width: 100%;
  height: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 3px;
  border-color: #5456A4;
}

#body-text {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 3px;
  border-color: #5456A4;
}


/*=== media queries ===*/

@media only screen and (max-width: 400px) {
  body {
    flex-direction: column;
  }

  .header-text {
    font-size: 18px;
    padding: 10x;
  }

  .menu {
    height: 40px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .form-spacer {
      /* width: 50px; */
  }
  .title-spacer {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  /* form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

  .icon {
    padding-right: 65px;
  }

  .idea-form {
    flex-grow: 1;
  }
}
