/*=== Reset ===*/

html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%
}

body {
  display: flex;
}

.hidden {
  display: none;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .form-spacer {
    display: flex;
    justify-content: center;
  }

  .title-spacer {
    width: 88%;
    padding-top: 40px;

  }

  .body-spacer {
    display: flex;
    flex-direction: column;
    width: 88%;
    padding-top: 20px;

  }



#search-bar-text{
  /* border: #353567;
  border-style: solid;
  border-width: thin;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 405px;
  padding: 12px;

  color: #5356A4; */
  width: 100%;
  height: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-color: #5456A4;

}

/* ::placeholder {
color:#5356A4;
font-size: -1.5em;
font-weight: lighter;
}
 */

/*=== Background Colors ===*/

.purple-1 {
  background: #EAEAF4;
}

.purple-2 {
  background: #A9AAD2;
}

.purple-3 {
  background: #5356A4;
}

.purple-4 {
  background: #1F1F3D;
}


/*=== Fonts ===*/

.header-text {
  color: #EAEAF4;
  font-family: 'Open Sans';
  font-weight: bold;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 25px;
  font-size: 24px;
}


.title-text {
  font-family: 'Open sans';
  font-weight: bold;
  color: #1F1F3D;
}

.body-text {
  font-family: 'Open sans';
  font-weight: bold;
  color: #1F1F3D;

}


/*=== menu section ===*/

.menu {
  height: 100%;
  width: 300px;
}

/*=== main section ===*/

.ideas {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.idea-form {
  flex-grow: 2;
}

.idea-cards {
  flex-grow: 3;
  display: flex;
}

.idea-card-grid {
  display: flex;
}

.one-idea-card {
  border-style: solid;
  border-width: thin;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.idea-card-header {
  background: #1F1F3D;
  display: flex;
  justify-content: space-between;
}

.idea-card-body {
  height: 150px;
}

.idea-title {
  color: #1F1F3D;
  padding-left: 10px;
  padding-top: 13px;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 125%;
}

.idea-text {
  color: #1F1F3D;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Open Sans';
  font-weight: lighter;
  font-size: 120%;
}

.idea-card-footer {
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #5356A4;
  display: flex;
  align-items: center;
}

.idea-comments {
  color: #E9E9F3;
  font-family: 'Open Sans';
  font-weight: bold;
}

#title-text {
  width: 100%;
  height: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 3px;
  border-color: #5456A4;
}

#body-text {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 3px;
  border-color: #5456A4;
}

.save-button {
  width: 88%;
  height: 50px;
  color: #E9E9F3;
  background-color: #353667;
  font-family: 'Open sans';
  font-weight: bold;
  font-size: 20px;
  border-color: #5456A4;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 5px
}

/* input {
  width: 95%;
} */

.search {
  margin-top: 4%;
  margin-bottom: 4%;
  display: flex;
  width: 88%;
  justify-content: center;
  align-items: center;
}

.search-button{
  background-color: #353567;
  border-color: transparent;
  margin-right: 0px;
  width: 45px;
  height: 45px;
}

.icon {
  display: none;
}

.starred-ideas-button1 {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px;
  color: #E9E9F3;
  background-color: #353667;
  font-family: 'Open sans';
  font-weight: bold;
  font-size: 20px;

}

.filter-idea-text1 {
  color: #A9AAD2;
  font: 'Open Sans';
  font-weight: bold;
  margin-top: 35px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.desktop-filter {
  display: flex;
  flex-direction: column;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  border-color: #5356A4;
}


/*=== media queries ===*/

@media only screen and (max-width: 400px) {
  body {
    flex-direction: column;

  }


  .header-text {
    font-size: 20px;
    padding: 10x;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .menu {
    height: 40px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #search-bar-text{
    width: 100%;
    height: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-color: #5456A4;
    /* border: #353567;
    border-style: solid;
    border-width: thin;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 285px;
    padding: 12px;
    color: #5356A4; */
  }

  .icon {
    display: unset;
    padding-right: 65px;
    margin-left: 8px;
  }

  .idea-form {
    flex-grow: 1;
  }

  .one-idea-card {
    border-style: solid;
    border-width: thin;
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  .idea-card-header {
    background: #1F1F3D;
    display: flex;
    justify-content: space-between;
  }

  .idea-card-body {
    height: 150px;
  }

  .idea-title {
    color: #1F1F3D;
    padding-left: 10px;
    padding-top: 13px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 125%;
  }

  .idea-text {
    color: #1F1F3D;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Open Sans';
    font-weight: lighter;
    font-size: 120%;
  }

  .idea-card-footer {
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #5356A4;
    display: flex;
    align-items: center;
  }

  .idea-comments {
    color: #E9E9F3;
    font-family: 'Open Sans';
    font-weight: bold;
  }

  .dropdown-page {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    position: relative;
    background: #1F1F3D;
    height: 250px;
    justify-content: space-between;
  }

  .opaque {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
  }

  .dropdown-ideabox {
    color: #EAEAF4;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    margin-left: 90px;


  }

  .filter-idea-text {
    color: #A9AAD2;
    font: 'Open Sans';
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 10px;
    margin-left: 15px;
  }

  .header-alignment {
    display: flex;
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;

  }

  .hidden {
    display: none;
  }

  .idea-cards {
    flex-grow: 3;
  }

  .save-button {
    width: 95%;
    height: 50px;
    color: #E9E9F3;
    background-color: #353667;
    font-family: 'Open sans';
    font-weight: bold;
    font-size: 20px;
    border-color: #5456A4;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 5px
  }

  /* input {
    width: 95%;
  } */

  .search {
    margin-top: 4%;
    margin-bottom: 4%;
    display: flex;
    width: 88%;
    justify-content: center;
    align-items: center;

  }

  .search-button{
    background-color: #353567;
    border-color: transparent;
    border-radius:
    margin-right: 0px;
    width: 45px;
    height: 45px;
  }

  .search-icon {
    transform: translateY(2px);
    width: 22px;
  }

  .starred-ideas-button {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    color: #E9E9F3;
    background-color: #353667;
    font-family: 'Open sans';
    font-weight: bold;
    font-size: 20px;
    border-color: #5456A4;
    border-radius: 3px;
  }

  .header-alignment {
    display: flex;
  }

  #title-text {
    width: 100%;
    height: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 3px;
    border-color: #5456A4;
  }

  #body-text {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 3px;
    border-color: #5456A4;
  }

  .body-spacer {
    width: 95%;
    padding-top: 20px;
    padding-left: 0px;
  }
  .title-spacer {
    width: 95%;
    padding-top: 40px;

  }

  .filter-idea-text1 {
    display: none;
  }
  .starred-ideas-button1 {
    display: none;
  }
